*{
    font-family: 'Titillium Web', sans-serif;
}

a{
    text-decoration: none;
}
.add-productos:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.add-productos{
    width: 30%;
    padding: 5px;
}

.icon-delete{
    color: red;
    font-size: 20px;
}

.icon-edit{
    color: #F5C103;
    font-size: 20px;
}

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}

.table th, .table td {
    border-bottom: 1px solid #F0F0F0 !important;
}
.fixed-table-container {
    border:0px !important;
}

table {
    border-collapse: separate;
    border-spacing: 0 .5rem;
}

.color-table{
    background-color: #257cffd5;
    color: #ffffff;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid purple;
}

.pagination>li.active>a {
  background: purple;
  color: #fff;
}
